

body {
    background-image: url(https://thumbs.dreamstime.com/b/menina-muito-desfocada-contra-vis%C3%A3o-de-topo-barcelona-catalunha-espanha-setembro-bonita-vista-da-cidade-aprecia-o-p%C3%B4r-do-sol-162564288.jpg);
    background-size: cover;
}

#page {
    font-family: "Bitter", serif;
    color: rgb(112, 13, 13);
}

#page {
    width: 800px;
    padding: 24px;
    background-color: rgb(224, 172, 103);
    border-radius: 20px;
    margin: 48px auto; 
}

#page img {
    box-sizing: border-box;
    width: 700px;
    border-radius: 20px ;
    padding-left: 100px;
}

h1 {
    font-size: 43px;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}

h3, p {
    padding-left: 20px;
}

#do h2 {
    margin-top: 40px;
}

#road-map h2 {
    margin-top: 40px;
}

h3 {
    font-size: 20px;
}

h2 {
    font-size: 30px;
    text-decoration: underline;
}

footer {
    text-align: center;
    color: rgb(54, 2, 2);
    padding: 20px;
}